.btn-primary{
  background-color: var(--ysh-color-deepgreen);
  border-color: transparent;
}

.btn-primary:hover{
  background-color: var(--ysh-color-lightgreen);
  border-color: transparent;
  color: black;
  transition: .5s;
}

.moving{
  background-repeat: repeat-y;
  animation: movebg 15s linear infinite;
}

@keyframes movebg{
  0%{background-position:center 0;}
  100%{background-position:center -1366px;}
}

.review-box{
  position: relative;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: white;
  z-index: 100;
  border-radius: 30px;
}

@media (min-width: 992px){
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  #point div.col-12.col-lg-5 {
    text-align: right;
  }
}