// Breakpoints
$breakpoint-pc: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-fold: 320px;

// etc
$transition: 0.5s;

// Main Color
$color-primary: #008868;
$color-grey : #666;

$bg-graGreen: linear-gradient(123deg, #050505 0%, #222 100%);
$bg-graGrey: linear-gradient(123deg, #050505 0%, #222 100%);