@use "./mixin.scss" as *;
@use "./variables" as *;
@use './component/header.scss';
@use './component/footer.scss';

// Common
html,
body {
  font-size: 10px;
}
h1 {
  font-size: 10rem;
}


// LightMode
html.lightMode {

}
// DarkMode
html.darkMode {
  
}

body {
  background-color: #000;
}

.home {
  main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10rem;
    background: #000;
    border-radius: 0.6rem;
  }
  aside {
    position: fixed;
    height: fit-content;
    right: 0;
    top: 10rem;
    li {
      position: relative;
      border-radius: 5rem 0 0 5rem;
      background: $bg-graGrey;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        border-radius: 5rem 0 0 5rem;
        background-image: $bg-graGreen, linear-gradient(130deg, rgba(3, 188, 142, 1) 0%, rgba(0, 0, 0, 0) 20%);
        pointer-events: none;
        background-origin: border-box;
        background-clip: content-box, border-box;
        opacity: 0;
        transition: $transition opacity;
      }
      & + li {
        margin-top: 1rem;
      }
      a {
        position: relative;
        display: block;
        width: 18rem;
        padding: 1rem 0 1rem 2rem;
        color: #FFF;
        font-size: 1.6rem;
        line-height: 2.5rem;
        @include hover-device {
          color: #fff;
        }
      }
      &.active {
        &::before {
          opacity: 1;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .content {
    flex: 1;
  }
  section {
    min-height: 100vh;
    .wrap {
      @include content_wrap;
    }
    h2 {
      color: #FFF;
      font-size: 4rem;
      font-weight: 500;
    }
  }
}

// max-width 1024
@include tablet {

}

// max-width 768
@include mobile {

}

// max-width 320
@include fold {

}