footer {
  color: red;
}

html,
body {
  font-size: 10px;
}

h1 {
  font-size: 10rem;
}

body {
  background-color: #000;
}

.home main {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10rem;
  background: #000;
  border-radius: 0.6rem;
}
.home aside {
  position: fixed;
  height: fit-content;
  right: 0;
  top: 10rem;
}
.home aside li {
  position: relative;
  border-radius: 5rem 0 0 5rem;
  background: linear-gradient(123deg, #050505 0%, #222 100%);
}
.home aside li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 5rem 0 0 5rem;
  background-image: linear-gradient(123deg, #050505 0%, #222 100%), linear-gradient(130deg, rgb(3, 188, 142) 0%, rgba(0, 0, 0, 0) 20%);
  pointer-events: none;
  background-origin: border-box;
  background-clip: content-box, border-box;
  opacity: 0;
  transition: 0.5s opacity;
}
.home aside li + li {
  margin-top: 1rem;
}
.home aside li a {
  position: relative;
  display: block;
  width: 18rem;
  padding: 1rem 0 1rem 2rem;
  color: #FFF;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
@media (hover: hover) {
  .home aside li a:hover {
    color: #fff;
  }
}
.home aside li.active::before {
  opacity: 1;
}
.home aside li.active a {
  color: #fff;
}
.home .content {
  flex: 1;
}
.home section {
  min-height: 100vh;
}
.home section .wrap {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.home section h2 {
  color: #FFF;
  font-size: 4rem;
  font-weight: 500;
}
