/* 300 - Light */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-300.woff2") format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-300.woff") format("woff");
}

/* 400 - Regular */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-regular.woff2") format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-regular.woff") format("woff");
}

/* 500 - Medium */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v12-latin_korean-500.woff2") format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v12-latin_korean-500.woff") format("woff");
}

/* 700 - Bold */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-700.woff2") format("woff2"),
    url("../fonts/noto-sans-kr-v25-latin_korean/noto-sans-kr-v25-latin_korean-700.woff") format("woff");
}

/* 400 - Regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-regular.woff") format("woff");
}

/* 500 - Medium */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-500.woff") format("woff");
}

/* 700 - Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin/roboto-v29-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url(../fonts/pretendard/Pretendard-Black.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url(../fonts/pretendard/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url(../fonts/pretendard/Pretendard-Bold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url(../fonts/pretendard/Pretendard-SemiBold.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url(../fonts/pretendard/Pretendard-Medium.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url(../fonts/pretendard/Pretendard-Regular.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url(../fonts/pretendard/Pretendard-Light.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url(../fonts/pretendard/Pretendard-ExtraLight.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url(../fonts/pretendard/Pretendard-Thin.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Thin.woff) format('woff');
}