:root {
  --bg-gra-grey: linear-gradient(123deg, #f3f3f3 0%, #e0e0e0 100%);
  --color-grey: #e0e0e0;
}

html.darkMode {
  --bg-gra-grey: linear-gradient(123deg, #050505 0%, #222 100%);
  --color-grey: #666;
}

// Breakpoints
$breakpoint-pc: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-fold: 320px;

// Main Color
$color-primary: #008868;
$color-grey : var(--color-grey);

$bg-graGreen: linear-gradient(170deg, rgba(3, 188, 142, 1) 0%, rgba(0, 0, 0, 0) 40%);
$bg-graGrey: var(--bg-gra-grey);

// etc
$transition: 0.5s;
$header-height: 85px;