@use "./mixin.scss" as *;
@use "./variables" as *;
@use './component/header.scss';
@use './component/footer.scss';

// Common
html,
body {
  font-size: 10px;
}
h1 {
  // font-size: 10rem;
}

// DarkMode
html.darkMode {
  
}

body {
  background-color: $color-grey;
}
.wrap {
  @include content_wrap;
}
.container {
  margin-top: calc(10rem + $header-height);
}

.about {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 10rem 0 10rem 10rem;
    background: #fff;
    border-radius: 0.6rem;
  }
  aside {
    position: sticky;
    height: fit-content;
    right: 0;
    top: calc(10rem + $header-height);
    li {
      position: relative;
      border-radius: 5rem 0 0 5rem;
      background: $bg-graGrey;
      overflow: hidden;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0.2rem solid transparent;
        border-radius: 5rem 0 0 5rem;
        background-image: $bg-graGrey, $bg-graGreen;
        pointer-events: none;
        background-origin: border-box;
        background-clip: content-box, border-box;
        opacity: 0;
        transition: $transition opacity;
      }
      & + li {
        margin-top: 1rem;
      }
      a {
        position: relative;
        display: block;
        width: 18rem;
        padding: 1rem 0 1rem 2rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        @include text_color;
      }
      @include hover-device {
        &::before {
          opacity: 1;
        }
      }
      &.active {
        &::before {
          opacity: 1;
        }
        a {
          @include text_color;
        }
      }
    }
  }
  .content {
    flex: 1;
  }
  section {
    min-height: 100vh;
    .section_wrap {
      
    }
    h2 {
      @include text_color;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: -0.05rem;
    }
  }
}

// max-width 1024
@include tablet {

}

// max-width 768
@include mobile {

}

// max-width 320
@include fold {

}