@use "./mixin.scss" as *;
@use "./variables" as *;
@use './component/header.scss';
@use './component/footer.scss';

// Common
html,
body {
  font-size: 10px;
}
h1 {
  // font-size: 10rem;
}

// DarkMode
html.darkMode {
  
}

body {
  background-color: $color-grey;
  letter-spacing: -0.02em;
}
.wrap {
  @include content_wrap;
}
.container {
  margin-top: calc(10rem + $header-height);
}
h2{
  @include text_color;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}

.about {
  .container {
    display: flex;
    flex-direction: row-reverse;
    padding: 10rem 0 10rem 10rem;
    background: #fff;
    border-radius: 0.6rem;
  }
  aside {
    position: sticky;
    height: fit-content;
    right: 0;
    top: calc(10rem + $header-height);
    nav {
      width: 18rem;
      padding-left: 1rem;
    }
    li {
      position: relative;
      border-radius: 5rem 0 0 5rem;
      background: $bg-graGrey;
      overflow: hidden;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0.2rem solid transparent;
        border-radius: 5rem 0 0 5rem;
        background-image: $bg-graGrey, $bg-graGreen;
        pointer-events: none;
        background-origin: border-box;
        background-clip: content-box, border-box;
        opacity: 0;
        transition: $transition opacity;
      }
      & + li {
        margin-top: 1rem;
      }
      a {
        position: relative;
        display: block;
        padding: 1rem 0 1rem 2rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        @include text_color;
      }
      @include hover-device {
        &::before {
          opacity: 1;
        }
      }
      &.active {
        &::before {
          opacity: 1;
        }
        a {
          @include text_color;
        }
      }
    }
  }
  .content_area {
    flex: 1;
  }
  section {
    min-height: 100vh;
    margin-top: 10rem;
    .sec_wrap {
      
    }
    h3{
      @include text_color;
      font-size: 10rem;
      font-weight: 500;
      letter-spacing: -0.05rem;
    }
    p.add {
      margin-top: 1rem;
      color: $color-textGrey;
      font-size: 1.6rem;
    }
    .content {
      margin-top: 10rem;
    }
  }
  .profile {
    display: flex;
    justify-content: space-between;
    .profile_txt {
      p {
        @include text_color;
        margin-top: 1.8rem;
        font-weight: 500;
        font-size: 2.4rem;
      }
      dl {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 5rem;
        font-size: 1.6rem;
      }
      dt {
        min-width: 8rem;
        color: $color-textGrey;
      }
    }
    .profile_img {
      width: 30rem;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: relative;
        top: 5%;
        left: 15%;
        width: 22rem;
      }
    }
  }

  .pj_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    > li {
      perspective: 1000px; 
      width: calc(50% - 1rem);
      cursor: pointer;
      &.active {
        .card_inner {
          transform: rotateY(180deg);
        }
      }
    }
    .card_inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      transform-style: preserve-3d;
    }
    .card_front, .card_back {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #FFF;
      backface-visibility: hidden;
      box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.05);
      transition: $transition;
    }
    .card_front {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
    }
    .list_head {
      padding: 3rem 3rem 2.5rem;
      border-bottom: 1px solid #f2f2f2;;
      transition: $transition;
    }
    .pj_tag {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: $transition;
    }
    .pj_date {
      color: $color-primary;
      font-weight: 600;
      font-size: 1.8rem;
      transition: $transition;
    }
    .pj_type {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.2rem;
      padding: 0 2rem;
      border-radius: 5rem;
      background-color: $color-primary;
      color: #FFF;
      font-weight: 700;
      font-size: 1.6rem;
    }
    .pj_tit {
      color: $color-textBlack;
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 2.9rem;
      transition: $transition;
    }
    .list_body {
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 2.5rem 3rem 3rem;
      .icon {
        width: 2.5rem;
        aspect-ratio: 1 / 1;
        margin-top: auto;
        filter: brightness(0);
        opacity: 0.8;
        transition: $transition;
      }
    }
    .pj_tech {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 25rem;
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 3.9rem;
        padding: 0 1.5rem;
        border-radius: 0.8rem;
        background-color: #e2e2e2;
        color: #555;
        font-weight: 700;
        font-size: 1.6rem;
        transition: $transition;
      }
    }
    .card_back {
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      padding: 3rem;
      border-radius: 2rem;
    }
    > li {
      @include hover-device {
        .card_front, .card_back {
          background-color: $color-primary;
        }
        .list_head {
          border-bottom: 1px solid $color-deepPrimary;
        }
        .pj_date {
          color: #fff;
        }
        .pj_tit {
          color: #fff;
        }
        .pj_type {
          background-color: $color-deepPrimary;
        }
        .list_body {
          img {
            filter: unset;
          }
        }
        .pj_tech .tag {
          background-color: $color-deepPrimary;
          color: #fff;
        }
      }
    }

  }
}

// max-width 1024
@include tablet {

}

// max-width 768
@include mobile {

}

// max-width 320
@include fold {

}